body {
  background-color: #fbf0ff;
  color: #C798FF;
  font-size: 24px;
  margin: 0px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 8px;
  margin-top: 0px;
}

ul.nav {
  color:rebeccapurple;
  /*height: 72px;*/
  font-size: 24px;
  opacity: 0.5;
  padding: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C798FF;
  grid-area: nav;
}
.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #C5A0FF;
}

.nav .active {
  background-color: pink;
}

.social {
  position: fixed;
  background-color: #fbf0ff;
  padding-right: 8px;
  top: 300px;
  width: 120px;
  border-radius: 16px;
  color: #fbf0ff;
  grid-area: social;
}

.container-main {
  display: grid;
  width: 100%;
  height: auto;
  margin: auto;
  grid-template-rows: 72px auto 72px;
  grid-template-columns: 128px 1fr 128px;
  grid-gap: 0px;/* TODO for blog grid-gap: 8px;*/
  grid-template-areas:
  "nav nav nav"
  "social content space"
  "ft ft ft";
  /*border: 2px solid rebeccapurple;*/
  justify-content: center;
}



.content {
  display: flex;
  flex-direction: column;
  grid-area: content;
}

.row-main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.image-wrap {
  flex-wrap: wrap;
}

.width-100 {
  width: 100%;
}

.vertical-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.horizontal-padding {
  padding-left: 24px;
  padding-right: 24px;
}

.white-background {
  background-color: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.form-inline {
  align-items: center;
  justify-content: center;
}
.form-control {
  border: 40px;
  padding: 14px;
  border-radius: 16px;
  font-size: 16px;
}

/* .sub {
  background-color: darkorchid;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
} */

.button {
  background-color: pink;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #C798FF;
  color: white;
}

.text-highlight:hover {
  background-color: #C798FF;
  color: white;
}

.round-image {
  border-radius: 50%;
  width: 300px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50vw; */
  width: 320px;
  height: 320px;
  border: 1px solid #FFC5D2;
  border-radius: 16px;
  background-size: contain;
  border: none;
  color: white;
  margin-top: 24px;
  margin-bottom: 24px;
}

.box:hover {
  /* text-align: center; */
  background-image: none !important;
  background-color: #C798FF;
  color: white;
  font-size: 24px;
}

a.box {
  text-decoration: none;
}

#box-1 {
  background-image: url('1.jpg');
}

.text-button {
  background-color: pink;
  color: white;
  font-size: 24px;
  padding: 16px;
  border-radius: 16px;
  opacity: 0.9;
  max-width: 200px;
}

/* .container:hover .middle {
  opacity: 0;
} */
#box-2 {
  background-image: url('salad-tofu.jpg');
}
#box-3 {
  background-image: url('soup.jpg');
}
#box-4 {
  background-image: url('avocado.jpg');
}
#box-5 {
  background-image: url('juices.jpg');
}
#box-6 {
  background-image: url('green.jpg');
}

footer {
  /* color: #C798FF; */
  font-size: 24px;
  color: #C798FF;
  grid-area: ft;
}

/* BLOG PAGE!*/

body.body-blog {
  color: #888888;
  font-size: 24px;
}

.side-image {
  border-radius: 16px;
  height: 400px;
  width: 300px;
}

.large-image {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 16px;
}

#box-a {
  background-image: url('with-goat.jpg');
}
#box-b {
  background-image: url('with-cow.jpg');
}
#box-c {
  background-image: url('baby-w-animals.jpg');
}
#box-d {
  background-image: url('baby-w-animals.jpg');
}
#box-e {
  background-image: url('with-elephent.jpg');
}
#box-f {
  background-image: url('cows.jpg');
}


.quotes {
  display: flex;
  justify-content: center;
  width: 320px;
  font-weight: bold;
  font-style: oblique;
}

.text-recipes {
  line-height: 1.2;
}

mark {
  background-color: #C798FF;
  color: white;
}

/* Mobile Screens */
@media (max-width: 559px) {
  .container-main {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "content"
    "ft";
  }
  .social {
    display: none;
  }
  .row-main {
    flex-wrap: wrap;
  }

  ul.nav {
    font-size: 16px;
  }
  .large-image {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
  .container-main {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "content"
    "ft";
  }
  .social {
    display: none;
  }
  .row-main {
    flex-wrap: wrap;
  }

  ul.nav {
    font-size: 16px;
  }
  .large-image {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }
}
