body {
  background-color: #fbf0ff;
  color: white;
  font-size: 40px;
}

ul.nav {
  color:rebeccapurple;
  height: 72px;
  font-size: 24px;
  opacity: 0.5;
  padding: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C798FF;
}
.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #C5A0FF;
}

.nav .active {
  background-color: pink;
}

.social {
  position: fixed;
  background-color: #fbf0ff;
  padding-right: 8px;
  top: 300px;
  width: 120px;
  border-radius: 16px;
  color: #fbf0ff;
}

.container {
  display: grid;
  width: 80vw;
  height: auto;
  margin: auto;
  background-color: white;
  /*background-color: #FDF8FF;
  /*grid-template-rows: 350px 350px 1fr;*/
  /*grid-template-columns: 80vw;*/

  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr*/
  /*grid-template-columns: repeat(6, 1fr);*/
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;/* TODO for blog grid-gap: 8px;*/
  grid-template-areas:
  "hd hd hd"
  "br br br"
  "main main sd";
  /*border: 2px solid rebeccapurple;*/
  justify-content: center;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 2px solid palegreen;*/
  grid-area: hd;
  height: 500px;
  background-image: url('pie.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 72px;
  color: white;
}

.body-blog .header {
  background-image: url('baby-cow.jpg');
}

#bar {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  grid-area: br;
  background-color: #fbf0ff;
  padding: 20px;
  margin-bottom: 24px;
  margin-top: 45px;
}
.form-inline {
  align-items: center;
  justify-content: center;
  margin-left: 300px;
}
.form-control {
  border: 40px;
  padding: 14px;
  border-radius: 16px;
  font-size: 16px;
}

.first-name {
  display: flex;
  border: darkorchid;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: auto;
}

.sub {
  background-color: darkorchid;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
}
.button {
  background-color: pink;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 16px;
}
.button {
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #C798FF;
  color: white;
}
.about {
  display: flex;
  align-items:flex-start;
  justify-content:left;
  grid-area: main;
  color: purple;
  border: #C798FF;
  font-size: 24px;
  margin-bottom: 32px;
  border-radius: 16px;
}
.text {
  padding: 16px;
  color:  #C798FF;
  font-family: "Times New Roman", Times, serif;
}

.text:hover {
  background-color: #C798FF;
  color: white;
}

.profile-emily {
  border-radius: 50%;
}

#profile-image {
  align-items: flex-start;
  grid-area: sd;
  border: none;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 320px;
  border: 1px solid #FFC5D2;
  border-radius: 16px;
}

#box-1 {
  background-image: url('1.jpg');
  background-size: contain;
  background-color: pink;
  border: none;
  color: white;
  background-repeat: no-repeat;
  font-size: 24px;
}

#box-1:hover {
  opacity: 0.3;
  text-align: center;
  background-color: none;
  color: purple;
  font-size: 24px;
}
.text-button {
  background-color: #aa93d6;
  color: white;
  font-size: 24px;
  padding: 16px;
  border-radius: 16px;
  opacity: 0.9;
}

.container:hover .middle {
  opacity: 0.5;
}
#box-2 {
  background-image: url('salad-tofu.jpg');
  background-repeat: no-repeat;
}
#box-3 {
  background-image: url('soup.jpg');

  background-repeat: no-repeat;
}
#box-4 {
  background-image: url('avocado.jpg');

  background-repeat: no-repeat;
}
#box-5 {
  background-image: url('juices.jpg');

  background-repeat: no-repeat;
}
#box-6 {
  background-image: url('green.jpg');

  background-repeat: no-repeat;
}

footer {
  /* color: #C798FF; */
  font-size: 24px;
  color: #C798FF;
}

/* BLOG PAGE!*/

body.body-blog {
  color: #888888;
  font-size: 24px;
}

.side-image {
  border-radius: 16px;
  height: 400px;
}

.container-1 {
  display: grid;
  width: 80vw;
  height: auto;
  margin: auto;
  background-color: white;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  grid-template-areas:
  "hd hd hd"
  "br br br"
  "main main sd";
  justify-content: center;
}

#large-left-box {
  /*background-image: url('sheep.jpg');*/
  background-size: contain;
  background-color: none;
  height: 500px;
  width: 500px;
  border:2px solid #C1EC96;
  color: grey;
  background-repeat: no-repeat;
  transition-duration: 0.4s;
  margin-left: 24px;
}

#large-right-box {
  background-image: url('chicken.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  grid-area: main;
  margin-left: 24px;
}

.reg-box {
  border-radius: 16px;
}

#box-a {
  background-image: url('with-goat.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#box-b {
  background-image: url('with-cow.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#box-c {
  background-image: url('baby-w-animals.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#box-d {
  background-image: url('baby-w-animals.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#box-e {
  background-image: url('with-elephent.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#box-f {
  background-image: url('cows.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

#round-jenna {
  background-image: url(jenna.jpg);
  border-radius: 50%;
  background-size: contain;
}

#round-phoenix {
  background-image: url(phoenix.jpg);
  border-radius: 50%;
  background-size: contain;
}
#round-olivia {
  background-image: url(olivia.jpg);
  border-radius: 50%;
  background-size: contain;
}

#quotes {
  font-weight: bold;
  font-style: oblique;
}

.container-recipes {
  display: grid;
  width: 80vw;
  height: auto;
  margin: auto;
  background-color: white;
  grid-auto-rows: minmax(50px, auto);
  grid-template-columns: 1fr;
  grid-gap: 8px;
  grid-template-areas:
  "hd hd hd"
  "br br br"
  "main main sd";
  justify-content: center;
}

#box-image {
  width: 500px;
  height: 320px;
  background-image: url(with-cow.jpg);
}
.box-recipes {
  line-height: 1.2;
  margin: 24px;
}
mark {
  background-color: #C798FF;
  color: white;
}
/*  */
