#box-1 {
  background-image: url('../images/1.jpg');
}

#box-2 {
  background-image: url('../images/salad-tofu.jpg');
}

#box-3 {
  background-image: url('../images/soup.jpg');
}

#box-4 {
  background-image: url('../images/avocado.jpg');
}

#box-5 {
  background-image: url('../images/juices.jpg');
}

#box-6 {
  background-image: url('../images/green.jpg');
}

#box-a {
  background-image: url('../images/with-goat.jpg');
}

#box-b {
  background-image: url('../images/with-cow.jpg');
}

#box-c {
  background-image: url('../images/baby-w-animals.jpg');
}

#box-d {
  background-image: url('../images/baby-w-animals.jpg');
}

#box-e {
  background-image: url('../images/with-elephent.jpg');
}

#box-f {
  background-image: url('../images/cows.jpg');
}
