/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
  .container-main {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "content"
    "ft";
  }
  .social {
    display: none;
  }
  .row-main {
    flex-wrap: wrap;
  }

  ul.nav {
    font-size: 16px;
  }
  .large-image {
    width: 300px;
    height: 300px;
    margin-top: 10px;
  }
}
